html {
  height: 100%;
  width: 100%; }
  html body {
    height: 100%;
    width: 100%;
    font-size: 10px;
    position: relative;
    background: url("../images/min-bgimage.jpg") no-repeat top center;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box; }
    html body h1 {
      font-size: 3rem; }
    html body p,
    html body a {
      font-size: 1.1rem; }
    html body .desktop-nav {
      display: none; }
    html body .social-container {
      height: auto;
      padding: 6px 15px;
      background-color: rgba(0, 0, 0, 0.7); }
      html body .social-container .btn-group .btn {
        border: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.001); }
      html body .social-container .btn-group .drop-down-menu li {
        text-align: center; }
        html body .social-container .btn-group .drop-down-menu li hr {
          margin: 0; }
    html body .content-wrapper {
      color: white; }
      html body .content-wrapper .content-block {
        position: absolute;
        transform: translateY(-50%);
        top: 50%; }
      html body .content-wrapper .theme-btn {
        margin: 10px 0 0;
        display: inline-block;
        border: 2px solid white;
        color: white;
        padding: 6px;
        border-radius: 5px;
        min-width: 150px;
        text-align: center;
        background-color: transparent;
        transition: background-color 0.4s ease;
        cursor: pointer; }
        html body .content-wrapper .theme-btn:hover {
          background-color: white;
          text-decoration: none;
          color: black; }
    @media (min-width: 768px) {
      html body {
        background-size: 100% 110vh; }
        html body h1 {
          font-size: 4.4rem; }
        html body p,
        html body a {
          font-size: 1.3rem; }
        html body .social-container {
          background-color: rgba(0, 0, 0, 0.7); }
          html body .social-container .mobile-nav {
            display: none; }
          html body .social-container .desktop-nav {
            display: block; }
            html body .social-container .desktop-nav li {
              float: right;
              text-align: center; }
              html body .social-container .desktop-nav li a {
                color: white;
                transition: background-color 0.4s ease;
                border-radius: 5px; }
                html body .social-container .desktop-nav li a:hover {
                  background-color: white;
                  color: black; }
        html body .content-wrapper .content-block .theme-btn {
          font-size: 1.4rem;
          margin: 15px 0 0;
          padding: 6px; } }
  @media (min-width: 768px) and (min-device-width: 414px) and (orientation: landscape) {
    html body {
      background: url("../images/min-bgimage.jpg") no-repeat top center;
      background-size: cover; } }

    @media (min-width: 1024px) {
      html body {
        background-size: 100% 100vh; }
        html body h1 {
          font-size: 6rem; }
        html body p,
        html body a {
          font-size: 1.4rem; } }

/*# sourceMappingURL=main.css.map */
