$breakpoint-xs: 320px;
$breakpoint-sm: 550px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1400px;
$root-font-size: 10px;

html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    font-size: $root-font-size;
    position: relative;
    background: url('../images/min-bgimage.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;

    h1 {
      font-size: 3rem;
    }

    p,
    a {
      font-size: 1.1rem;
    }

    .desktop-nav {
      display: none;
    }

    .social-container {
      height: auto;
      padding: 6px 15px;
      background-color: rgba(0, 0, 0, 0.7);

      .btn-group {

        .btn {
          border: none;
          color: white;
          background-color: rgba(0, 0, 0, .001);
        }

        .drop-down-menu {

          li {
            text-align: center;

            hr {
              margin: 0;
            }
          }
        }
      }
    }

    .content-wrapper {
      color: white;

      .content-block {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
      }

      .theme-btn {
        margin: 10px 0 0;
        display: inline-block;
        border: 2px solid white;
        color: white;
        padding: 6px;
        border-radius: 5px;
        min-width: 150px;
        text-align: center;
        background-color: transparent;
        transition: background-color 0.4s ease;
        cursor: pointer;

        &:hover {
          background-color: white;
          text-decoration: none;
          color: black;
        }
      }
    }

    @media(min-width: $breakpoint-md) {
      background-size: 100% 110vh;

      h1 {
        font-size: 4.4rem;
      }

      p,
      a {
        font-size: 1.3rem;
      }

      .social-container {
        background-color: rgba(0, 0, 0, 0.7);

        .mobile-nav {
          display: none;
        }

        .desktop-nav {
          display: block;

          li {
            float: right;
            text-align: center;

            a {
              color: white;
              transition: background-color 0.4s ease;
              border-radius: 5px;

              &:hover {
                background-color: white;
                color: black;
              }
            }
          }
        }
      }

      .content-wrapper {

        .content-block {

          .theme-btn {
            font-size: 1.4rem;
            margin: 15px 0 0;
            padding: 6px;
          }
        }
      }

      @media (min-device-width: 414px)
        and (orientation: landscape) {
          background: url('../images/min-bgimage.jpg') no-repeat top center;
          background-size: cover;
      }
    }

    @media(min-width: $breakpoint-lg) {
      background-size: 100% 100vh;

      h1 {
        font-size: 6rem;
      }

      p,
      a {
        font-size: 1.4rem;
      }
    }
  }
}
