html {
  height: 100%;
  width: 100%; }
  html body {
    height: 100%;
    width: 100%;
    position: relative;
    background: url("../images/min-bgimage.jpg") no-repeat center center;
    background-size: 165vh auto;
    font-family: sans-serif;
    overflow: hidden;
    box-sizing: border-box; }
    html body h1 {
      font-size: 4.9rem; }
    html body p {
      font-size: 1.6rem; }
    html body a {
      cursor: pointer; }
    html body .desktop-nav {
      display: none; }
    html body .social-container {
      height: auto;
      padding: 6px 15px;
      background-color: rgba(0, 0, 0, 0.7); }
      html body .social-container .btn-group .btn {
        border: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.001); }
      html body .social-container .btn-group .drop-down-menu li {
        text-align: center; }
        html body .social-container .btn-group .drop-down-menu li hr {
          margin: 0; }
    html body .content-wrapper {
      color: white; }
      html body .content-wrapper .content-block {
        position: absolute;
        top: 30%; }
      html body .content-wrapper .theme-btn {
        font-size: 12px;
        margin: 10px 0 0;
        display: inline-block;
        border: 2px solid white;
        color: white;
        padding: 4px;
        border-radius: 5px;
        min-width: 150px;
        text-align: center;
        background-color: transparent;
        transition: background-color 0.4s ease; }
        html body .content-wrapper .theme-btn:hover {
          background-color: white;
          text-decoration: none;
          color: black; }
    @media (min-width: 768px) {
      html body {
        background-size: 155vh auto; }
        html body .social-container {
          background-color: rgba(0, 0, 0, 0.7); }
          html body .social-container .mobile-nav {
            display: none; }
          html body .social-container .desktop-nav {
            display: block; }
            html body .social-container .desktop-nav li {
              display: inline-block;
              float: right;
              text-align: center; }
              html body .social-container .desktop-nav li a {
                color: white;
                transition: background-color 0.4s ease;
                border-radius: 5px; }
                html body .social-container .desktop-nav li a:hover {
                  background-color: white;
                  color: black; }
        html body .theme-btn {
          margin: 30px 0 0; } }
    @media (min-width: 1023px) {
      html body {
        background-size: 186vh; }
        html body h1 {
          font-size: 8rem; }
        html body p {
          font-size: 1.8rem; }
        html body .theme-btn {
          margin: 45px 0 0; } }
    @media (min-width: 1400px) {
      html body {
        background-size: 200vh; } }
    @media (min-device-width: 414px) and (orientation: landscape) {
      html body {
        background: url("../images/min-bgimage.jpg") no-repeat top center;
        background-size: 185vh; } }

/*# sourceMappingURL=main.css.map */
