<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Erik Gomez</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="style/styles.css">
    <script src="node_modules/angular/angular.js"></script>
    <!-- https://code.angularjs.org/1.5.8/docs/guide/animations  -->
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/content-controller.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <div class="inner-wrapper">
        <div ng-controller="ContentController">

          <section class="row social-container">

            <!-- MOBILE -->
            <div class="btn-group col-xs-12 mobile-nav"
              uib-dropdown
              is-open="status.isopen">
              <button class="btn col-xs-2"
                id="single-button"
                type="button"
                uib-dropdown-toggle
                ng-disabled="disabled">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
              <uib-tabset class="drop-down-menu col-xs-12"
                active="activePill"
                vertical="true"
                type="pills"
                uib-dropdown-menu
                role="menu"
                aria-labelledby="single-button"
                vertical="true">
                <li class="col-xs-12"
                  role="menuitem"
                  ng-repeat="cta in socialCTAs">
                  <a ng-href="{{cta.hyperText.src}}">
                    {{cta.text}}
                  </a>
                  <hr>
                </li>
              </uib-tabset>
            </div>

            <!-- DESKTOP -->
            <ul class="nav desktop-nav col-xs-12">
              <li class="col-xs-2"
                ng-repeat="cta in socialCTAs">
                <a ng-href="{{cta.hyperText.src}}">
                  {{cta.text}}
                </a>
              </li>
            </ul>

          </section>

          <section class="row content-wrapper">
            <div class="content-block col-xs-12 text-center">
              <h1 class="col-xs-12">{{headline}}</h1>
              <p class="col-xs-12">{{byline}}</p>
              <div class="text-center">
                <a ng-href="mailto:{{contentCTA.hyperText.mailTo}}"
                  class="theme-btn">
                  {{contentCTA.text}}
                </a>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </body>
</html>
